###############################################
# GLOBAL WHITELIST GITIGNORE (REPO RESET MODE)
# Игнорируем всё в корне и явно разрешаем нужное.
###############################################

/*

# Разрешённые каталоги верхнего уровня
!ansible_training/
!ansible-docker-lab/
!ansible_*/
!springboot-postgres/
!helm/
!helm-charts/
!scripts/

# CI / служебные
!.github/
!.gitignore
!README.md

# Если понадобятся дополнительные: просто добавь строки вида
# !charts/
# !playbooks/
# !LICENSE

# Внутренние тонкие фильтры добавляй локальными .gitignore внутри разрешённых папок:
#   target/
#   *.log
#   *.iml
#   **/hs_err_pid*

###############################################
*.tar

*.tar.gz
