config:
  datasource:
    host: {{ exporter_db_host | default('postgres-db-postgresql.db.svc.cluster.local') | quote }}
    user: {{ exporter_db_user | default('myuser') | quote }}
    password: {{ exporter_db_password | default('mypass') | quote }}
    database: {{ exporter_db_name | default('mydb') | quote }}
service:
  port: 9187
  targetPort: 9187
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9187"
    prometheus.io/path: "/metrics"
resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi